@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-12 col-md-4 ">
    <h1 class="display-4 text-white">IL TASK MANGER PERFETTO PER ORGANIZZARE LA VITA E IL TUO LAVORO</h1>
    <p class="mt-1 text-white">Un mondo di cose da fare!</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="~/img/calendario.jpeg" alt="" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
<div class="text-center mt-3">
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Pizzas" asp-action="Index">Cose Da fare</a>
    </button>
</div>


